<h2><b>Noticias</b></h2>
                                <p>
                                    <b>FIKNER.</b> Nace de la necesidad que tienen las agencias para conseguir personal de apoyo
                                    de manera rápida y confiable.
                                    También brinda gran variedad de filtros, en los cuales podrás encontrar books 
                                    o perfiles ya sea por edad,
                                    estatura, color de piel y género entre otros.<br> 
                                    Imagínate todas las agencias del país en una sola página y poder seleccionar a cuál de ellas 
                                    quieres enviar tu perfil y a cuáles no.
                                </p>
                                <h2>¿Qué perfiles buscamos?</h2>
                                <p>
                                    Si no eres un robot. <b>¡Claro que sirves!</b><br>
                                    Buscamos todos los perfiles, desde la persona que no tiene experiencia en televisión o protocolo.
                                    Hasta el modelo, actor o figurante más experimentado.</p>
                                <h2>¿Cómo creo mi perfil?</h2>
                                <p>Recuerda. Registrarse en fikner es <b>gratis</b>.<br></p>
                                <h4>Necesitas:</h4>
                                <p>* Ser mayor de edad<br>
                                    * Tener 3 fotos que no superen 5mb de tamaño<br>
                                    <b>Paso 1:</b> Crear una cuenta<br>
                                    <b>Paso 2:</b> Iniciar sesión<br>
                                    <b>Paso 3:</b> Llenar formulario<br>
                                    <b>Paso 4:</b> Guardar perfil<br>
                                </p>
                                <h2>¿FIKNER es agencia?</h2>
                                <p><b>NO</b>. Fikner es una plataforma que brinda una gran base de datos de personal a las agencias colombianas.
                                </p>
                                <h2>¿No veo ninguna agencia en mi cuenta?</h2>
                                <p>Recuerda <b>Fikner está en desarrollo.</b> Pero no hay de qué preocuparse. Tenemos un gran grupo de ingenieros trabajando. para hacer de está idea una realidad. el gran lanzamiento
                                    para agencias está programado para el <b>12 de agosto de 2016</b>.
                                    Si tienes una idea para mejorar fikner envíala a <b>youfikner@gmail.com</b> nuestros asesores están para resolver tus inquietudes.
                                </p>
                           