<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Fikner</title>
    </head>
    <body>
        <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
            <section style="text-align: center;background-color: #C63533;padding-top: 20px;padding-bottom: 20px;">
                <img src="http://www.fikner.com/images/logo/fikner_logo_blanco.png" alt="" width="100px" height="auto">
            </section>
            <div style="text-align: center;padding-bottom: 40px;">
                <h2 style="margin-top: 70px;color: gray;">{{data['titulo1']}}</h2>
                <h1 style="color: #C63533;margin-top: -10px;margin-bottom: 40px;">{{data['titulo2']}}</h1>
                <div id="texto"style="width: 41.66666667%;float: none;margin: 0 auto;">
                    <p style="color: gray;margin-bottom: 40px;text-align: justify;">
                        {{data['body']}}
                    </p>
                    <p style="color: gray;margin-bottom: 40px;text-align: justify;">
                        Para activar un perfil haga clic sobre la imagen de la persona que desea activar
                        <ol style="color: gray;">
                            <li>En el campo  perfiles  escriba un tag o etiqueta para encontrar el perfil de manera más rápida
                                (Maloso, Medico, Bailarín...Etc.)
                            </li>
                            <li>A continuación seleccione el estado (Activo, Pendiente, Vetado) según sea el caso</li>
                            <li>Seleccione la categoría a la cual desea ingresar el perfil (Actor, Extra, Modelo)</li>
                            <li>Seleccione la calidad del book (seleccione según su criterio la calidad de las imágenes o perfil)</li>
                            <li>Guarde los cambios haciendo clic en actualizar</li>
                        </ol>
                        {{data['firma']}}</p>
                    <a href="http://www.fikner.com/Agencia/dashboard/hojadevida/index/" class="btn btn-danger" style="display: inline-block;
                       padding: 6px 12px;
                       margin-bottom: 0;
                       font-size: 14px;
                       font-weight: 400;
                       line-height: 1.42857143;
                       text-align: center;
                       white-space: nowrap;
                       vertical-align: middle;
                       -ms-touch-action: manipulation;
                       touch-action: manipulation;
                       cursor: pointer;
                       -webkit-user-select: none;
                       -moz-user-select: none;
                       -ms-user-select: none;
                       user-select: none;
                       background-image: none;
                       border: 1px solid transparent;
                       border-radius: 4px;
                       color: #fff;
                       text-decoration: none;
                       background-color: #c9302c;border-color: #ac2925;"> <span class="glyphicon glyphicon-share-alt"></span>  Activar Perfiles</a>
                </div>			
            </div>
            <div style="padding-top: 50px;
                 padding-bottom: 20px;
                 background-color: rgba(128, 128, 128, 0.34);">
                <div id="texto" class="col-lg-5 col-centered">
                    <p >
                        No responda este email,  si tiene problemas o inconvenientes puede solicitar soporte a <br>
                            través de nuestras <a href="http://fb.com/youfikner">redes sociales</a> o enviando un email a soporte@fikner.com
                    </p></div>
            </div>
        </div>
    </body>
</html>