{% extends "AdminAdminBundle::layout.html.twig" %}

{% block container %}
    <h1>SuscripcionUsuario creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('dashboard_suscripcionusuario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
