{% extends "AdminAgenciaBundle::layout.html.twig" %}
{% block container %}
    <div class="col-lg-12">
            <div class="row page-header"> 
                <div class="">
                    <div class="col-md-10">
                        <h1><i class="glyphicon glyphicon-th-list"></i> {{ entity.nombre }}<small</small></h1>
                        <p>{{ entity.observaciones }}</p>
                        <p><b>Fecha inicio:</b> {{ entity.fechaprogramada|date('Y-m-d H:i:s') }}</p>
                        <p><a href="{{ path('Agencia_dashboard_solicitud_edit', { 'id': entity.id }) }}" >
                            Editar
                        </a></p>
                        
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                </div>
            </div>
        </div>
    <div class='col-lg-12'>
     
    </div>
      
{% endblock %}
