{% for entity in entities %}
        <div class="panel panel-default">
            <div class="panel-heading"><a href="{{path('Agencia_solicitud',{'id':entity.id})}}">{{ entity.nombre }}</a></div>
            <div class="panel-body"><p>{{ entity.observaciones }}</p>
            <p></p>
            <p>{% if entity.fechaprogramada %}<b>Fecha Limite:</b>{{ entity.fechaprogramada|date('Y-m-d') }}{% endif %}</p>
                </div>
            <div class="panel-footer">
                    <a href="#" class="btn btn-block btn-default">Postularme</a>
                
            </div>
        </div>
    {% endfor %}
