{% extends "AdminAgenciaBundle::layout.html.twig" %}
{% block container %}
    <div class="col-lg-12">
        <img u=image height="auto" width="100%" src="{{asset('upload/Photos/' ~ entity.id ~'/' ~entity.image)}}" />
</div>

{%endblock%}

