{%extends "AdminAdminBundle:Default:layout.html.twig"%}
{% block title %}Calificación{% endblock %}
{% block menu  %}
    {% include "AdminAdminBundle:Default:menu.html.twig" %}
{% endblock %}
{% block container %}
    <section>
<div class="container">
    <div class="contacto">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <img src="{{web_image('bundles/adminadmin/img/fikner_logo2.png').resize(100,100)}}" alt="fikner" class="center-block"/>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><b>¿CÓMO MEJORO MI CALIFICACIÓN?</b></h2>
                    <div id="texto">
                        <p>
                            Tenga en cuenta que muchas agencias, descartan de manera inmediata un perfil, cuando este no carga al sistema imágenes de calidad.
                        </p>
                        <p>Para mejorar la calificación de su book recomendamos seguir las siguientes observaciones.</p>

                    </div>
                    <hr>
                    <h2>¿CÓMO SÉ QUE MIS IMÁGENES SON DE BUENA CALIDAD?</h2>
                    <p>Use siempre una cámara digital, NO celular.</p>
                    <p>Las imágenes deben ser en fondo blanco.</p>
                    <p>Use ropa en tonos vivos, sin rayas ni puntos.</p>
                    <p>Maquillaje suave.</p>
                    <p>Posa natural, sé tu mism@.</p>
                    <p>No uses elementos distractores como SOMBREROS, GAFAS, CELULARES EN LAS MANOS, SOMBRILLAS, BUFANDAS. recuerde que su perfil es PERSONAL, por ello no cargue al sistema fotos con grupos de amigos o familiares.
                    </p>
    <p>Tenga en cuenta que fikner permite subir imágenes de hasta 5MB, si posee imágenes de un tamaño superior puede hacer uso de compresores de imagen como
        <a href="http://optimizilla.com">optizilla.</a></p>
                    <p>La resolución mínima recomendada es 1024x768.</p>
                    <h2>VERIFIQUE SU INFORMACIÓN DE CONTACTO Y EXPERIENCIA</h2>
                    <p>
                        Su calificación puede verse alterada, si no comenta la experiencia que posee en el medio. Intente mencionar los proyectos en los cuales ha participado, si no posee experiencia, mencione las razones por las cuales su perfil debería ser elegido.
                    </p>
                    <p>Verifique su información de contacto, Correo electrónico y telefono celular, si son erróneos pueden ser determinados, como información falsa, o inconsistente, lo cual repercute en su calificación.</p>
                    <h2><b>¿CÓMO FUNCIONA EL SISTEMA DE CALIFICACIÓN?</b></h2>
<p>Fikner promedia las calificaciones que obtiene de cada agencia, es decir, si dos agencias <B>A</B> Y <B>B</B> Califican su perfil, de manera que:
</p>
                    <p>* A califica con 1 Estrella:
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <p>* B califica con 5 Estrellas:
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </p>
                    <p>La calificación final serán 3 estrellas:
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <p>(1+5)/2 = 3 donde <b>2</b> es el total de agencias que lo han calificado en este caso  2 (A Y B).</p>

                    <hr>
                    <div id="texto">
                        <p>
                            ESTOS PARAMETROS PUEDEN VARIAR EN CUALQUIER MOMENTO, SI VE ALGÚN CAMBIO EN SU CALIFICACIÓN, SUGERIMOS REVISAR NUEVAMENTE ESTE FORMULARIO.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

