{%extends "AdminAdminBundle:Default:index.html.twig"%}
{% block container %}
    <div>
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container">
                            <a class="navbar-brand" href="{{path('principal')}}"><img src="{{asset('images/logo/fikner_logo_blanco.png')}}" alt="" height="40px"></a>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
                        
    </div>
    <section class="book">
        <div class="row">
            <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="{{asset('images/logo/fikner_logo2.png')}}" alt="" />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2><b>¿COMO MEJORO MI CALIFICACIÓN?</b></h2>
                    <div id="texto">
                        <p>Para mejorar la calificación de su book recomendamos seguir las siguientes observaciones.</p>
                        <p>
                            La calificación de los books se hace a partir  de la calidad de las imágenes,   calidad del  perfil entre otros factores.
                        </p>
                    </div>
                    <hr>
                    <h2>Tendrán esta calificación books con las siguientes características.</h2>
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <div id="texto">
                        Fikner no ha calificado el book
                    </div>
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <div id="texto">
                        <p>
                            • Imágenes incompletas,  para mejorar su calificación cargue las 6 imágenes a la plataforma
                        </p>
                        <p >
                            • Imágenes repetidas, automáticamente se calificara en esta categoría sin importar la calidad 
                            de las demás imágenes.
                        </p>
                        <p>    
                            • Información de contacto en imágenes, si las imágenes cargadas contienen información de contacto 
                            como email, teléfono ,dirección, o datos como numero de documento, nombre, links de redes 
                            sociales, páginas web o demás campos que puedan generar un riesgo para la seguridad 
                            del usuario o la plataforma.
                        </p>
                        <p>
                            • Imágenes cargadas con grupos de personas o animales (recuerde que el book es personal NO GRUPAL)  <br>
                        </p>
                    </div>
                    <hr>
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <div id="texto">
                        <p>
                            • Imágenes con buena calidad pero no cargo la totalidad de las imágenes
                        </p>
                        <p>
                            • Imágenes con mala calidad, no cargo la totalidad de las imágenes
                        </p>
                    </div>
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>                            
                    </p>
                    <div id="texto">
                        <p>     
                            • Imágenes completas pero de mala Calidad o una de ellas tiene mala calidad
                        </p>
                    </div>
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </p>
                    <div id="texto">
                        <p>
                            • Imágenes completas, Buena calidad
                        </p>
                    </div>                    
                    <p id="info" class="text-center">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    </p>
                    <div class="col-lg-6">
                        <p>La calificación 5 estrellas la realiza la empresa <a href="www.digitalHype.co">DigitalHype</a>, la cual realiza la sesión fotográfica acorde a 
                            las necesidades y parámetros estipulados por las agencias de casting, btl, o modelaje.</p>
                    </div>
                    <div class="col-lg-6">
                    <p><a href="www.digitalHype.co">DigitalHype</a> es la encargada 
                            de validar la veracidad de la información como estatura real, peso, color de ojos, piel y demás campos de fikner. 
                        </p>
                    </div>
                    <div id="texto">
                        <p>
                            ESTOS PARAMETROS PUEDEN VARIAR EN CUALQUIER MOMENTO,  SI VE ALGUN CAMBIO EN SU CALIFICACION, 
                            SUGERIMOS REVISAR NUEVAMENTE ESTE FORMULARIO.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

