{% extends "AdminAdminBundle::layout.html.twig" %}
{% block title %}
    Suscripcion | {{ parent() }}
{% endblock %}
{% block container %}
<h1>SuscripcionUsuarioHojadevida creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
   
</ul>
{% endblock %}
